$overflow : hidden;
$paddingtop : 115px;
$heightForPar : 100%;
$letterSpacinfForFirstBlock : 4px;
$letterSpacingForFourthBlock : 2px;
$specialFont : 'Montserrat', sans-serif;
$fontForFirstBlock : 'Oswald', sans-serif;
$textNearPictureFont : 'Roboto', sans-serif;
$standartBorder :  .3px solid black;
$imageWidthPropTeam : 90%;
$imageMargLPropTeam : 37px;
$imageMargTPropTeam : 23px;

@mixin paddingforparallax($padding){
    padding-left: $padding;
    padding-right: $padding;
}

@mixin paddingTopBottom($padding){
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin fonts($fontForFirstBlock, $fontSize, $fontWeight){
    font-family: $fontForFirstBlock;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin imageTeam(){
    width : $imageWidthPropTeam;
    margin-left: $imageMargLPropTeam;
    margin-top: $imageMargTPropTeam;
}



html, body {
    height: $heightForPar;
    margin: 0;
  }
  
body{
    overflow-x: $overflow;
}

  .logo {
    position: absolute;
    top: 38px;
    left: 90px;
  }
  
  .par {
    height: $heightForPar;
    width: 100%;
    background: url("../img/MenuImage.jpg") center center no-repeat scroll;
    background-size: cover;
  }
  
  .firstLineOfTextOnPicture {
    position: absolute;
    top: 305px;
    left: 253px;
    @include fonts($fontForFirstBlock, 30px, 400);
    letter-spacing: $letterSpacinfForFirstBlock;
    color: rgb(83, 83, 83);
    line-height: 20px;
  }
  
  .secondLineOfTextOnPicture {
    position: absolute;
    top: 407px;
    left: 253px;
    @include fonts($fontForFirstBlock, 70px, normal);
    letter-spacing: $letterSpacinfForFirstBlock;
    color: rgb(83, 83, 83);
    line-height: 47px;
  }
  
  .thirdLineOfTextOnPicture {
    position: absolute;
    top: 507px;
    left: 252px;
    @include fonts($fontForFirstBlock, 70px, normal);
    letter-spacing: $letterSpacinfForFirstBlock;
    color: rgb(83, 83, 83);
    line-height: 47px;
  }
  
  .lineOnPicture {
    position: absolute;
    left: 293px;
    top: 360px;
    height: 2px;
    width: 80px;
    background-color: rgb(148, 148, 148);
  }
  
  .menu {
    position: fixed;
    top: 41px;
    left: 1765px;
    @include fonts($specialFont, 13px, 400);
    letter-spacing: 1px;
    color: black;
  }
  
  .menulogo {
    position: relative;
    left: 60px;
    bottom: 20px;
    height: 1px;
    width: 30px;
    background-color: #3a3a3a;
    margin: 5px 0;
  }
  
  .menulogoOther {
    position: relative;
    left: 68px;
    bottom: 20px;
    height: 1px;
    width: 22px;
    background-color: #3a3a3a;
  }
  
  .parallax {
    background: url("../img/parallax1.jpg") no-repeat fixed 70% 12px;
    min-height: 100%;
    padding: $paddingtop 0 0px;
  }
  
  .ruska {
    position: relative;
    margin-left: 7.5%;
    :before {
      position: absolute;
      left: -98px;
      top: 15px;
      height: 2px;
      width: 80px;
      content: "";
      background-color: #3a3a3a;
    }
  }
  
  .parralUnion {
    @include paddingforparallax(15px);
    margin-right: auto;
    margin-left: auto;
  }
  
  h1 {
    color: #aca9a9;
    @include fonts($fontForFirstBlock, 30px, 700);
    margin: 0;
    line-height: 1.1;
  }
  
  span {
    display: block;
    @include fonts(inherit, 80px, 500);
    color: #3a3a3a;
    letter-spacing: $letterSpacinfForFirstBlock;
  }
  
  .sle {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .preforo {
    margin-top: 79px;
  }
  
  .about_Pic {
    float: left;
    width: 50%;
    position: relative;
    padding-bottom: 8px;
  }
  
  .preforo img {
    margin-left: 14px;
    width: 83%;
    vertical-align: middle;
  }
  
  .horizontalLine {
    position: absolute;
    right: 77px;
    width: 76.5%;
    bottom: 1px;
    height: 5px;
    background-color: #ffb063;
  }
  
  .verticalLine {
    position: absolute;
    background-color: #ffb063;
    right: 75px;
    top: 28px;
    height: 95.5%;
    width: 5px;
  }
  
  .terx {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    @include paddingforparallax(15px);
  }
  
  .TextNearThePicture {
    position: inherit;
    padding-top: 76px;
    h1 {
      color: #1b1b1b;
      @include fonts($fontForFirstBlock, 24px, 600);
      letter-spacing: $letterSpacingForFourthBlock;
    }
    p {
      margin-top: 25px;
      color: #717171;
      @include fonts($textNearPictureFont, 14px, normal);
      line-height: 28px;
      margin-bottom: -3px;
      letter-spacing: .5px;
    }
  }
  
  /*Second Block*/
  
  .secondBlock {
    background: url("../img/secondBlock.jpg") no-repeat fixed 70% 0px;
    padding: $paddingtop 0px 0px;
    min-height: 75%;
  }
  
  .cont {
    margin-left: 567px;
    margin-right: 567px;
  }
  
  .marginfromtop {
    margin-top: 75px;
  }
  
  .secondBlockText {
    color: #737373;
    max-width: 790px;
    text-align: center;
    @include fonts($fontForFirstBlock, 18px, 300);
    margin-top: 43px;
    line-height: 35px;
    letter-spacing: 1px;
    display: flex;
  }
  
  .beforeh1 h1 {
    @include fonts($fontForFirstBlock, 100px, 700);
    color: #e9e9e9;
    letter-spacing: 10px;
    margin-left: 350px;
  }
  
  .difference {
    margin-left: 395px;
    margin-top: -306px;
  }
  
  .underhr1 {
    @include fonts(inherit, 14px, 300);
    line-height: 26px;
    color: #828282;
    letter-spacing: .8px;
    margin-left: 380px;
    margin-right: 800px;
    margin-top: 28px;
    width: 360px;
  }
  
  .textOnNumber {
    margin-left: 380px;
    margin-top: -75px;
    h3 {
      color: #525252;
      @include fonts($fontForFirstBlock, 18px, 600);
      letter-spacing: $letterSpacingForFourthBlock;
    }
    h4 {
      color: #5f5e5e;
      @include fonts($fontForFirstBlock, 12px, 300);
      letter-spacing: $letterSpacingForFourthBlock;
      margin-top: -12px;
    }
  }
  
  .original {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #cfcfcf;
    margin-left: 380px;
    width: 5%;
  }
  
  .child1 {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #cfcfcf;
    margin-left: 380px;
    width: 6%;
  }
  
  .child2 {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid #cfcfcf;
    margin-left: 380px;
    width: 7%;
  }
  
  .underhr {
    line-height: 26px;
    font-size: 14px;
    color: #828282;
    letter-spacing: 0.8px;
    margin-left: 380px;
    margin-right: 1200px;
    margin-top: 28px;
    width: 360px;
  }
  
  .difference1 {
    margin-left: 780px;
    margin-top: -306px;
  }
  
  .underhr2 {
    @include fonts(inherit, 14px, 300);
    line-height: 26px;
    color: #828282;
    letter-spacing: .8px;
    margin-left: 380px;
    margin-right: 430px;
    margin-top: 28px;
    width: 360px;
  }
  
  /*Third Block*/
  
  .thirdBlock {
    background: url("../img/thirdBlock.jpg") no-repeat fixed 70% 0px;
    min-height: 100%;
    padding: $paddingtop 0 140px;
  }
  
  .textonBottomTheirBlock {
    margin-top: 50px;
    margin-left: 740px;
    margin-right: 567px;
    h1 {
      color: #525252;
      @include fonts($fontForFirstBlock, 28px, 600);
      letter-spacing: 3px;
    }
  }
  
  .lineThirdBlock {
    margin-top: 22px;
    border-top: 1px solid #9C9C9C;
    margin-left: 166px;
    width: 16%;
  }
  
  .firstMenuThirdBlock {
    margin-top: 62px;
    margin-left: 823px;
    position: relative;
    color: #8c8c8c;
    letter-spacing: $letterSpacingForFourthBlock;
    @include fonts($fontForFirstBlock, 14px, 300);
  }
  
  .secondMenuThirdBlock {
    margin-top: -21px;
    margin-left: 873px;
    position: relative;
    color: #8c8c8c;
    letter-spacing: $letterSpacingForFourthBlock;
    @include fonts($fontForFirstBlock, 14px, 300);
  }
  
  .thirdMenuThirdBlock {
    margin-top: -21px;
    margin-left: 957px;
    position: relative;
    color: #8c8c8c;
    letter-spacing: $letterSpacingForFourthBlock;
    @include fonts($fontForFirstBlock, 14px, 300);
}
  
  .fourthMenuThirdBlock {
    margin-top: -21px;
    margin-left: 1041px;
    position: relative;
    color: #8c8c8c;
    letter-spacing: $letterSpacingForFourthBlock;
    @include fonts($fontForFirstBlock, 14px, 300);
}
  
  .containerOfPicturesThirdBlock {
    position: relative;
    height: 877.282px;
    top: 30px;
    left: 365px;
  }
  
  .firstPicPadding {
    position: absolute;
    float: left;
    padding: 10px;
  }
  
  .secondPic {
    left: 585px;
    position: absolute;
    padding: 20px;
    top: -10px;
  }
  
  .thirdPic {
    left: 877px;
    position: absolute;
    padding: 25px;
    top: -15px;
  }
  
  .fourthPic {
    top: 292px;
    position: absolute;
    padding: 10px;
    left: 0px;
    padding-top: 15px;
  }
  
  .fifthPic {
    left: 2px;
    top: 292px;
    padding-right: 10px;
    padding-left: 300px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  
  /*Fourth Block*/
  
  .fourthBlock {
    background: url("../img/fourthBlock.jpg") no-repeat fixed 70% 80px;
    padding: $paddingtop 0px 0px;
    min-height: 100%;
  }
  
  .diagram {
    margin-left: 440px;
  }
  
  /*Fifth Block*/
  
  .fifthBlock {
    background: url("../img/fifthBlock.jpg") no-repeat fixed 70% 180px;
    padding: $paddingtop 0px 0px;
    min-height: 100%;
    box-sizing: border-box;
  }





 


  .line-team {
  width: 20px;
  color: #cccccc;
  margin-left: 7px;
  height: 1px;
  background-color: #828282;
  margin-top: 30px;
  }
.text-team {
  color: #696969;
  margin-top: -21px;
  margin-left: 35px;
  letter-spacing: 2px;
  @include fonts($fontForFirstBlock, 16px, 1000);
}


.text2-team1 {
  font: 100% $fontForFirstBlock;
  margin-top: -21px;
  margin-left: 235px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #adadad;
}

.line2-team {
  width: 20px;
  color: #cccccc;
  margin-left: 180px;
  height: 1px;
  background-color: #828282;
  margin-top: 20px;
}

.line2-team1 {
  width: 20px;
  color: #cccccc;
  margin-left: 205px;
  height: 1px;
  background-color: #828282;
  margin-top: 20px;
}

.text2-team {
  font: 100% $fontForFirstBlock;
  margin-top: -21px;
  margin-left: 210px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #adadad;
}
.border1-team{
  margin-top: 50px;
  margin-left: 400px;
  border: 1px solid black;
  width: 360px;
  height: 530px;
  img {
      @include imageTeam();
  }
  
}
.border2-team {
  margin-left: 790px;
  margin-top: -480px;
  border: 1px solid black;
  width: 360px;
  height: 530px;
  margin-bottom: -100px;
  img {
    @include imageTeam();
  }
}

.border3-team {
  margin-left: 1180px;
  margin-top: -585px;
  border: 1px solid black;
  width: 360px;
  height: 530px;
  img {
    @include imageTeam();
  }
}





  /*Sixth Block*/
  
  .sixthBlock {
    background: url("../img/sixthBlock.jpg") no-repeat fixed 70% 124px;
    padding: $paddingtop 0px 0px;
    min-height: 70%;
  }

  .testimonialBlock {
    margin: auto;
    margin-top: 130px;
    width: 50%;
    
    .borderSix {
      border: .2px solid black;
      margin-left:185px;
      width: 419px;
      margin-top:100ps;
     }
 }

  .borderWithImg {
    border: .1px solid black;
    margin-top: -165px;
    height: 179px;
    width: 185px;

    img{
      margin-left: 6px;
      margin-right: 6px;
      margin-top: -1px;
      width: 173px;
    }
  }

  .textNearBorder {
    margin-left: 620px;
    margin-top: -10px;
    
    h1 {
      color: #696969;
      letter-spacing: 2px;
      @include fonts($fontForFirstBlock, 20px, 700);
    }

    h2 {
      color: #979696;
      @include fonts($fontForFirstBlock, 14px, normal);
      letter-spacing: 1.5px;
      margin-top: 7px;
    }
  }

  .textP {
    margin-left: 210px;
    margin-top: 30px;
    p {
      width: 580px;
      font-size: 17px;
      color: #8a8a8a;
      word-spacing: 1px;
      letter-spacing: .9px;
      line-height: 26px;

    }
  }